
body {
    background-color: #204d74;
}

button:active {
    background-color: grey;
}

.activeBtn {
    background-color: grey;
}

header {
    font-size: 50px;
}
.news-feed {
    background-color: lightgrey;
}
.news-feed img {
    width: 50px;
    height: 50px;
}
.video {
    background-color: #2b542c;

}
.video img {
    width: 100px;
    height: 100px;
}
.twit {
    background-color: whitesmoke;
    color: black;
    text-shadow: lightgrey;

}